.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.layout {
  display: flex;
  height: 100vh;
}

.Barra {
  width: 250px; /* Ajusta el ancho del Sidebar */
  background-color: #333;
  color: white;
  padding: 20px;
  height: 80vh;
  position: fixed; /* Fijar el Sidebar a la izquierda */
  left: 0;
  top: 0;
}

.content {
  flex: 1; /* Ocupa el espacio restante */
  margin-left: 25px; /* Mismo ancho que el Sidebar */
  padding: 20px;
  background-color: #f4f4f4;
  width: calc(100% - 250px);
  overflow-y: auto;
}
